<%- include('partials/header') -%>

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit unde facere ipsam saepe quod, repellat vero repellendus vel quam fugiat, asperiores facilis earum vitae, illum soluta corrupti eius perferendis veniam.
Magni voluptates, totam eaque qui magnam laudantium quo aliquid placeat quod necessitatibus, adipisci voluptatem minima quam officia. Eveniet amet nesciunt voluptates iure quae nostrum, error dolor quia explicabo, id ipsam!</p>


<%- include('partials/footer') -%>